<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="menu">></div>
        <nav id="nav">

            <a class="link_container" is-active-route asp-controller="Anuncios" asp-action="Index">Anuncios</a>

            <a class="link_container" is-active-route asp-controller="Favorito" asp-action="Index">Favoritos</a>

            <a class="link_container" is-active-route asp-controller="Playlists" asp-action="Index">Playlists</a>

            <div id="TusAudios" class="link_container">
                <h3><a>Tus audios</a></h3>
            </div>
            <div id="quienesSomos" class="link_container">
                <h3>¿Quiénes somos?</h3>
            </div>
            <partial name="_LoginPartial" />

        </nav>

    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
