<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soundify</title>
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>

    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    

    <header>
        <nav>
            <a is-active-route asp-controller="Anuncios" asp-action="Index" class="link_item">Anuncios</a>
            <a is-active-route asp-controller="Categoria" asp-action="Index" class="link_item">Categorias</a>
            <a is-active-route asp-controller="Usuario" asp-action="Index" class="link_item">Usuarios</a>
            <a is-active-route asp-controller="Canciones" asp-action="IndexAdministrador" class="link_item">Audios</a>
            <a><partial name="_LogoutPartial" /></a>
            
        </nav>
   </header>
    
        <main role="main">
            @RenderBody()
        </main>

 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
