<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soundify</title>
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
</head>
<body>
    
        <header>
            <div class="menu">></div>
            <nav id="nav">

                <a class="link_container" is-active-route asp-controller="Canciones" asp-action="Index">Inicio</a>

                <a class="link_container" is-active-route asp-controller="Favorito" asp-action="Index">Favoritos</a>

                <a class="link_container" is-active-route asp-controller="Playlists" asp-action="Index">Playlists</a>

            <a class="link_container" is-active-route asp-controller="Canciones" asp-action="TusAudios">Tus Audios</a>
            
                <div id="quienesSomos" class="link_container">
                    <h3>¿Quiénes somos?</h3>
                </div>
                <partial name="_LoginPartial" />

            </nav>

        </header>
    

    
        <main role="main">
            @RenderBody()
        </main>
        
  
        <footer>
        </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        GreenAudioPlayer.init({
            selector: '.player', // inits Green Audio Player on each audio container that has class "player"
            stopOthersOnPlay: true,
            showDownloadButton: true
        });
    </script>
</body>
</html>
