@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
        <div id="Perfil" class="link_container perfil">
        <a is-active-route asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
            <div class="img_user"></div>
        </div>
        

    
    }
    else
    {
        <div id="Perfil" class="link_container perfil">
            <h3>
            <a is-active-route" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
            </h3>
            <div class="img_user"></div>
        </div>
        
}
