@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="quienes">
    <h1>¿Quiénes somos?</h1>
    <div class="quienes_content">

        <p class="text">
            Soundify es una <span>plataforma de distribuición de audio gratuita</span>, en la que puedes compartir audios con fines de entretenimiento o de proyección artística. Somos una comunidad que busca crecer y ser de utilidad para aquellos que quieren explotar su creatividad y ayudar a otras a conseguir lo mismo
        </p>
        <img src="~/img/undraw_online_media_re_r9qv.svg " />
    </div>
    
</div>


