@{
    ViewData["Title"] = "Inicio";
}

<div class="Bienvenida">
    <div class="Bienvenida_texts">
        <h1>Soundify</h1>
        <p>
            Bienvenido a soundify
        </p>
        <h4>
            Explora la aplicacion mediante el menu
        </h4>
    </div>
    

    <img src="~/img/undraw_music_re_a2jk.svg"/>

</div>
