header {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--color_principal);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}

.link_item {
    padding: 40px;
}

    .link_item.active {
        padding: 0 0 1px;
        border-bottom: 3px solid white;
    }
main *{
    color: black;
}

main {
   margin: 120px 50px 0;
    
}

h1 {
    color: var(--color_principal);
    margin:20px 0;
}
p {
    margin: 20px 0;

}
    p a {
        background-color: var(--color_principal);
        color: white;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--color_btn);
        
    }
#categoria{
    width:50%;
}
.table_container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow: scroll;
}
table {
    width: 100%;
   
}

table * {
    background-color: rgba(108, 75, 208, 0.5);
    color: white;
    padding: 20px;
    margin: 40px auto;
    
}
tbody * {
    background-color: rgba(108, 75, 208, 0.1);
    
}
tr{
    margin: 0;
    padding: 0;
}

td:last-child {
    width:290px;
    padding: 0;
}
td:last-child a{
    
}
tbody tr {
    transition: background-color .3s ease;
}

tbody tr:hover {
    background-color: rgba(108, 75, 208, 0.3);
}
tr td {
    text-align: center;
    background-color: rgba(108, 75, 208, 0.1);
}

td img {
    max-width: 200px;
    max-height:150px;
    
    margin:0;
    padding: 0;
    background-color: rgba(108, 75, 208, 0);
}
td a {
    padding: 0 20px;
    background-color: rgba(108, 75, 208, 0);
}

dt {
    color: var(--color_principal);
    margin: 10px 0;
    font-weight: bolder;
}

dd {
    border-bottom: 1px solid var(--color_selected);
}