@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}


html{
    overflow-x: hidden;
}
:root{
    --color_buttons: #FAA0DF;
    --color_buttons: #BF25FF;
    --color_principal: #6d4bd0;
    --color_principal_transparent: rgba(108, 75, 208, 0.401);
    --color_selected: #480ca8;
    --color_btn: rgb(67, 97, 238);
    --color_focus: #cf4289;
    --color_box: rgba(67, 98, 238, 0.551);
    --fontSize_xs: 14px;
    --fontSize_small: 16px;
    --fontSize_medium: 18px;
    --fontSize_large: 20px;
    --fontSize_xl: 24px;
}

a {
    text-decoration: none;
    transition: .3s all ease;
    font-size: var(--fontSize_large);
    font-weight: 600;
}
h3 a {
    color: white;
    text-decoration: none;
    text-shadow: none;
    transition: .3s ease all;
}


input, select{
    background-color: transparent;  
}



a:hover, h3 a:hover {
    
    text-shadow: 0px 0px 10px var(--color_focus);
}

button {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    transition: .3s all ease;
}
button:hover{
    text-shadow: 0px 0px 3px var(--color_focus);
}

dl.row{
    display:flex;
    flex-direction: column;
    margin: 20px 0;
}

dd{
    margin: 0 0 15px;
    border-bottom:2px solid var(--color_principal);
}

dt{
    font-weight:600;
    margin:0;
}