body{
    background: #333;
}

h1{
    margin:0 0 20px;
}
nav {
    width: 20dvw;
    height: 100dvh;
    background-color: var(--color_principal);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--color_selected);
    transition: .3s all ease;

}

.link_container {
    height: calc(100% / 6);
    width: 100%;
    border-bottom: 1px solid var(--color_selected);
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 100;
}

    .link_container.active {
        background-color: var(--color_selected);
      
    }

.menu {
    position: fixed;
    left: calc(20dvw - 1px);
    display: block;
    width: 25px;
    text-align: center;
    color: white;
    font-size: var(--fontSize_large);
    background-color: var(--color_principal);
    border-bottom: 2px solid var(--color_selected);
    border-right: 2px solid var(--color_selected);
    transition: .3s all ease;
    cursor: pointer;
    z-index: 1000;
}

.menu:hover {
    background-color: var(--color_focus);
}

nav::before:hover {
    border-bottom: 2px solid var(--color_focus);
    border-right: 2px solid var(--color_focus);
}

.link_container:hover {
    cursor: pointer;
}


.link_container.selected {
    background-color: var(--color_selected);
}


.color_seleccion {
    display: block;
    position: absolute;
    height: calc(100% / 6);
    width: 20dvw;
    background-color: var(--color_selected);
    transition: .3s all ease;
    border-right: 2px solid var(--color_focus);
    border-top: 2px solid var(--color_focus);
    border-bottom: 2px solid var(--color_focus);
}

.hidden {
    transform: translateX(-20dvw);
    transition: .3s all ease;
}

.perfil {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    background-color: rgb(91, 39, 174);
    
}



.link_container.perfil{
    justify-items: center;
    padding: 0 0px 0 20px;
}

.img_user {
    width: 80px;
    height: 80px;
    background-color: var(--color_btn);
    border-radius: 50%;
    grid-column: 3/5;
    margin: 0 15px;
    border: 1px solid var(--color_focus);
    z-index: 10;
}

main {
   margin-left: 22dvw;
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 350px));   
    transition: .3s all ease ;
    grid-gap: 15px 15px;
  justify-content: center;
  align-items: baseline;*/
  padding: 30px;
  transition: .3s all ease;
}
main.hidden{
    width: 100%;
}
.category {
    display: grid;
    height: fit-content;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px 15px;
  
    width: 70vw;
    margin-left: 20px;
    
}

.reproductor{
    background: var(--color_box);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    }
    section{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
     section .circle{
        border-radius: 50px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: var(--color_box);
        box-shadow: 0 5px 10px rgba(149, 45, 186, 0.22);
    }

   .controles div{
    background-color: var(--color_box);
   }
    .cancion-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 8px solid #fff ;
        box-shadow: 0 10px 60px rgba(167, 26, 255, 0.22);
    }.reproductor h1{
        font-size: 20px;
        font-weight: 400;
      
        margin-top: 20px;
    }.reproductor p{
        font-size: 14px;
        
    }
    #progresion{
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        background: #4d2850;
        border-radius: 4px;
        cursor: pointer;
        margin: 40px 0;
    }
    #progresion::-webkit-slider-thumb{
        -webkit-appearance: none;
        background:#6e368f;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 8px solid #fff;
        box-shadow: 0 5px 5px rgba(81, 32, 96, 0.22);
    }.controles{
        display: flex;
        justify-content: center;
        align-items: center;
    }.controles div{
        width: 60px;
        height: 60px;
        margin: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #8452a0;
        box-shadow: 0 10px 20px rgba(49, 13, 53, 0.22);
        cursor: pointer;
    }.controles div:nth-child(2){
        transform: scale(1.5);
        background:#8452a0;
        color: #fff;
    }

     input{
         border: none;
     }

.music_container {
    display: flex;
    background-color: var(--color_principal);
    width: 100%;
    border-radius:8px;
    flex-direction:column;
    border: 2px solid var(--color_selected);
    margin: auto;
    margin: 20px -20px;
    padding: 20px;
    transition: box-shadow .3s ease;
}

    .music_container:hover {
        box-shadow: 0 0 20px var(--color_focus);
    }
.music_header {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content:space-between;
}

.music_header h3:last-child{
    margin-right:10%;
    
}

.like {
    
    font-size: 32px;
}

.music_controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.music_actions{
    display: flex;
    align-items:center;
    justify-content:center;
}

.player.green-audio-player {
    width: 70%;
    max-width:800px;
}

    .player.green-audio-player .slider .gap-progress .pin {
        background-color: var(--color_principal)
    }

    .player.green-audio-player .slider .gap-progress {
        background-color: var(--color_principal)
    }
    .duracion {
        font-size: 16px;
        margin: 0 15px;
        text-align: center;
    }

    a.duracion:hover{
        transform:scale(120%);
    }

.music_container h6{
    font-weight:200;
    font-size:var(--font_size_xl);
}


.Bienvenida{
    display:flex;
    height:80dvh;
    align-items: center;
    justify-items:center;
    justify-content:center;
}

    .Bienvenida img {
        width: 70%;
        animation: subirimg 2s ease-in-out infinite alternate-reverse;
    }



.Bienvenida_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align:center;
}

   

    .Bienvenida_texts h1 {
        margin: 20px;
        font-size: 86px;
        text-shadow: 0 0 20px var(--color_focus); 
        animation: subir 2s ease-in-out infinite alternate-reverse;
    }
 .Bienvenida_texts p {
        font-size: 28px;
        margin: 20px 0;
    }
    .Bienvenida_texts h4 {
        font-size: 22px;
        font-weight:100;
    }


.quienes{
    display:flex;
    flex-direction: column;
    text-align:center;
}

    .quienes h1 {
        margin: 20px 0 40px;
        font-size: 56px;
        text-shadow: 0 0 10px var(--color_focus);
    }

.quienes_content{
    display: flex;
    flex-direction:row;
    align-items:center;

}

    .quienes_content img {
        width: 50%;
        margin: 0 30px;
        animation: subirpoco 2s ease-in-out infinite alternate-reverse;
    }


.text{
    font-size: 28px;
    text-align:left;
}

    .text span {
        color: var(--color_focus);
        text-shadow: 0 0 10px var(--color_focus);
    }

select {
    background-color: var(--color_principal);
    border: 1px solid var(--color_focus);
    padding: 5px;
    border-radius: 5px;
   
}

form {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}
.form-group{
    margin: 10px;
    display:flex;
    
}

    .form-group label{
        width: 150px;
    }
    input {
        border: 1px solid var(--color_focus);
        padding: 5px;
        border-radius: 5px;
    }

        input[type="submit"], .button {
            font-size: 26px;
            padding: 1px;
            transition: all .3s ease;
            border: 1px solid var(--color_focus);
            border-radius: 5px;
            padding: 5px;
            
        }

        a.button {
            margin-top:20px;
        }
        input[type="submit"]:hover {
            background-color: var(--color_focus);
        }

.form-control {
    background-color: var(--color_principal);
}

@keyframes subir {
    100%{
        transform:translateY(10%);
    }
}

@keyframes subirpoco {
    100% {
        transform: translateY(2%);
    }
}

@keyframes subirimg {

    100% {
        transform: translateY(5%);
    }
}